.dashboard-container {
  display: flex;
  min-height: 100vh;
}


.main-pane {
 flex: 1;
 transition: margin-left 0.3s ease;
}

.sidebar-contrasty.open ~ .main-pane,
.main-pane.open {
  margin-left: 230px;
}
